{% schema %}
  {
    "name": "product-discription-sec1",
    "settings": [],
    "presets": [
      {
        "name": "product-discription-sec1"
      }
    ]
  }

{% endschema %}

<style>
  @media (max-width: 767px) {
    .product-description-mobile {
      max-width: 480px;
      margin: auto;
    }
  }
</style>

<div class="product-description" style="max-width: 1125px; margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 20px;">
  {%- if product.description != blank -%}
    <div class="product__description rte" style="text-align: justify;>
      {{ product.description }}
    </div>
  {%- endif -%}
</div>



{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}